@import 'variables';
@import 'mixins';

body {
    
    font-size: $font-size-base;
    margin: 0;
    padding: 0;
    background-color: #fff7f7;
    font-family: $font;

    .container {
        width: 90%;
        max-width: 75rem;
        margin: 0 auto;
        padding: 1.25rem;
      
        
      
        form {
          background-color: rgb(81, 233, 187);
          padding:1.25rem;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
      font-family: sans-serif;
      
      }
    
  }
  
  
  